################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DashboardAPI/.vs/DashboardAPI/v16/Server/sqlite3
